.form {
  height: 40px;
  margin: auto 10px 10px 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.input {
  border: 1px solid #999;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
  height: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  height: 80%;
  color: #fff !important;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  /* padding: 20px; */
  display: inline-block;
  border: none;
  width: 18%;
}
