ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 20px;
}

ul li {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
}

.head {
  display: flex;
  align-items: center;
}
.head img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 15px;
}
.head strong {
  font-size: 20px;
}

li p,
strong,
span {
  color: #333;
}

button {
  background: #7159c1;
  border: 0;
  border-radius: 4px;
  overflow: hidden;
  margin-top: auto;

  display: flex;
  align-items: center;
  transition: filter 0.3s;
}
button:hover {
  filter: brightness(1.15);
}
button div {
  display: flex;
  align-items: center;
  padding: 12px;
  background: rgba(0, 0, 0, 0.1);
}
button div svg path {
  color: #fff;
}
